body{
    margin: 0;
}
.navbar{
    background-color: rgba(255, 255, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid black;
    position: fixed;
    top: 0;
}

.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
    color: white;
}

.navbar ul li{
    background-color: red;
    padding: 8px;
    border-radius: 5px;
}